.background {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  font-size: 16px;
}
.business-card {
  box-shadow: 5px 10px 23px rgba(31, 28, 87, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  margin-bottom: 80px;
  margin-top: 180px;
  width: 600px;
}

.internal-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0 10px;
}
.external-links {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  min-width: 100%;
}

.directory-link:hover {
  background-color: #f6f6f6;
  transition: ease 0.3s;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}
.menu-bar-link {
  padding: 5px 0px;
  margin: 0 0 15px;
  text-align: center;
}

.title {
  padding: 10px 0;
  margin: 2px 4px 2px;
  font-size: 50px;
  font-weight: 600;
  /* ask kelson to help me change the font*/
}
.subtitle {
  padding: 0;
  margin: 0 0 8px;
  font-size: 34px;
  font-weight: 400;
  /* ask kelson to help me change the font*/
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
  margin: 0 0 10px;
}
